{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Make an appointment</h2>
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.label }}: {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                      <form method="POST">
                          {% csrf_token %}
                            <div class="form-group">
                                <label for="services">Services</label>
                                {{ form.services }}
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="date">Date</label>
                                {{ form.date }}
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="start_time">Starting time</label>
                                {{ form.start_time }}
                                <br>
                            </div>
                            <button type="submit" class="btn btn-primary">Book</button>
                        </form>
                    <br>
                <hr>
                <p style="text-align: center">Changed your mind? <a href="{% url 'shops_page' %}">Shops</a></p>

            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-lg-12">
                {% if appointments %}
                    <div style="padding: 3%;">
                        <h4  style="text-align: center;">Booked appointments on [датумот што е селектиран]</h4>
                        <table class="table">
                            <tr>
                                <th>Date</th>
                                <th>Start time</th>
                                <th>End time</th>
                            </tr>
                            {% for app in appointments %}
                                    <tr>
                                        <td>{{ app.date|date:"d/m/Y" }}</td>
                                        <td>{{ app.start_time|date:"H:i" }}</td>
                                        <td>{{ app.end_time|date:"H:i" }}</td>
                                    </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div style="text-align: center;">
                        <h4>There are no booked appointments on [датумот што е селектиран]</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}