{% extends 'base.html'%}
{% load static %}

{% block content %}
    <section class="container my-5">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div style="padding: 3%;">
                    <h3>Cancel Appointment</h3>
                    <p>
                        <small>Are you sure you want to cancel your appointment with </small>
                        {{ appointment.shop.name }}
                        <small> on </small>
                        {{ appointment.date|date:"d/m/Y" }}
                        <small> at </small>
                        {{ appointment.start_time|date:"H:i" }}
                        <small> ?</small>
                    </p>
                    <a class="btn btn-danger" href="{% url 'delete_appointment' appointment.id %}">Yes</a>
                    <a class="btn btn-primary" href="{% url 'myappointments_page' %}">No</a>
                </div><small></small>
            </div>
        </div>
    </div>
    <hr>
    </section>
{% endblock %}