# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\StefanL\Desktop\FINKI\FINKI_Predmeti\TP\TP_Proekt_Rezervacii\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
